# MkDocs Configuration for ScholaRAG_Graph Documentation
# Site: https://scholarag-graph.readthedocs.io

docs_dir: DOCS
site_name: ScholaRAG_Graph
site_url: https://scholarag-graph.readthedocs.io
site_description: Open-source concept-centric knowledge graph for systematic literature reviews
site_author: Hosung You

repo_name: HosungYou/ScholaRAG_Graph
repo_url: https://github.com/HosungYou/ScholaRAG_Graph

copyright: Copyright &copy; 2024-2025 Hosung You

theme:
  name: material
  language: en
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github

plugins:
  - search:
      lang: en
  - minify:
      minify_html: true

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: HosungYou
      repo: ScholaRAG_Graph
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quickstart.md
  - User Guide:
    - Core Concepts: user-guide/concepts.md
    - Gap Detection: user-guide/gap-detection.md
  - API Reference:
    - Overview: api/overview.md
  - Architecture:
    - Overview: architecture/overview.md
    - SDD: architecture/SDD.md
  - Testing:
    - TDD: testing/TDD.md
    - InfraNodus E2E Cases: testing/infranodus-e2e-test-cases.md
  - Development:
    - v0.3.0 Refactoring Plan: development/v0.3.0-refactoring-plan.md
    - v0.11.1 Memory Stabilization Plan: development/v0.11.1-memory-stabilization-plan.md
  - Contributing: https://github.com/HosungYou/ScholaRAG_Graph/blob/main/CONTRIBUTING.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/HosungYou/ScholaRAG_Graph
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/HosungYou
  analytics:
    provider: google
    property: G-XXXXXXXXXX  # Replace with actual GA4 ID
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
